

<%if @fab == "adicionar"%>
  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <%= link_to add_to_cart_path(@geral), method: :patch, class:"btn-floating btn-large blue" do %>
      <i class="material-icons right">add_shopping_cart</i>
    <%end%>
  </div>
<%else%>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>
  
<%end%>
